<!-- wp:template-part {"slug":"header","theme":"twentytwentyfive","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:spacer {"height":"2rem"} -->
	<div style="height:2rem" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:habeas-cle/breadcrumbs /-->

	<!-- wp:post-title {"level":1} /-->

	<!-- wp:habeas-cle/complete-button /-->

	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

	<!-- wp:habeas-cle/curriculum-children /-->

	<!-- wp:spacer {"height":"3rem"} -->
	<div style="height:3rem" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"twentytwentyfive","tagName":"footer"} /-->
